<div class="topbar">
  <div class="topbar-left">
    <a href="tel:0433604507" class="topbar-link" data-track="phone_click" data-track-location="topbar">{{ icon('phone') }} 0433 604 507</a>
    <a href="https://wa.me/61433604507" class="topbar-link" target="_blank" rel="noopener" data-track="whatsapp_click" data-track-location="topbar">{{ icon('brand-whatsapp') }} WhatsApp</a>
    <div class="topbar-langs">
      <span class="topbar-lang">🇸🇦 Arabic</span>
      <span class="topbar-lang">🇸🇴 Somali</span>
      <span class="topbar-lang">🇦🇫 Dari</span>
      <span class="topbar-lang">🇪🇹 Amharic</span>
    </div>
  </div>
  <a href="{{ site.enquire_url }}" class="topbar-cta" data-track="enquiry_cta_click" data-track-location="topbar">Make an enquiry</a>
</div>
